body {
  margin: 0;
}

#injection {
  height: 100%;
}

.app {
  width: 100%;
  height: 100vh;
  text-align: center;
  font-size: 24px;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #AAA;
  color: #FFF;
  text-align: left;
  padding: 8px;
}

.body {
  display: flex;
  flex: 1;
}